<ul class="pagination" ng-hide="loading">
      <li ng-class="{disabled: noPrevious()}">
      <a ng-click="selectPrevious()">Previous</a>
      <li ng-hide="forward"><a ng-click=changeDirection()> 1 </a></li>
      <li ng-hide="forward"><a > ... </a></li>
      </li>
      <li ng-repeat="page in pages"
      ng-class="{active: isActive(page)}">
      <a ng-click="selectPage(page)">{{page}}</a>
      </li>
      <li ng-show="forward"><a > ... </a></li>
      <li ng-show="forward"><a ng-click=changeDirection()>  {{ pageCount }} </a></li>
      <li ng-class="{disabled: noNext()}">
      <a ng-click="selectNext()">Next</a>
      </li>
</ul>