
<div class="container">
	<h2> Please enter credentials </h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<form ng-submit="login()" ng-hide="loading">
				<div class="form-group">
					<div class="input-group">
					 	<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input ng-model="username" placeholder="username" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input ng-model="password" placeholder="password" class="form-control" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary">log in</button>
			</form>
		</div>
		<div id="loader" ng-show="loading"></div>
		<div ng-show="loading">authentication in progress ... </div>
		<span>{{ errorMessage}}</span>
	</div>
</div>

