<div class="container">
	<div> {{ errorMessage }} </div>
	<div id="loader" ng-show="loading1"></div>
	<div ng-show="loading1">checking permissions ... </div>
</div>
<div class="container" ng-show="isAdmin">
	<h2> Create new user </h2>
	<div class="col-lg-6">
	<form ng-submit="add()" ng-hide="loading">
		<div class="form-group">
			<input ng-model="username" class="form-control">
		</div>
		<div class="form-group">
			<input ng-model="password" class="form-control">
		</div>
		<div class="form-group">
			<input ng-model="access" class="form-control" />	
		</div>
		<button type="submit" class="btn btn-default">add</button>
	</form>
	</div>
	<div id="loader" ng-show="loading"></div>
	<span ng-show="loading"> creating new user ... </span>
	<span ng-hide="loading"> {{ successMessage }} </span>
</div>