<nav class="navbar navbar-default" ng-controller="HeaderController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/home"> {{ appName }} </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="loggedIn"><a href="#/login">Log in</a></li>
        <li ng-show="loggedIn" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-show="loggedIn"><a ng-click="logout()">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-href="#/user-details/{{user}}">Profile</a></li>
          </ul>
        </li>
      </ul>
    <ul class="nav navbar-nav navbar-left">
      <li ng-show="loggedIn && isAdmin" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage users
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/users-list">List of users</a></li>
          <li><a href="#/create-user">Create new user</a></li>
        </ul>
      </li>
    <ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>