<div class="container">
	<h2> Please enter credentials </h2>
	<div class="col-lg-6">
		<form ng-submit="login()" ng-hide="loading">
			<div class="form-group">
				<input ng-model="username" class="form-control" />
			</div>
			<div class="form-group">
				<input ng-model="password" class="form-control" />
			</div>
			<button type="submit" class="btn btn-default">log in</button>
		</form>
	</div>
	<div id="loader" ng-show="loading"></div>
	<div ng-show="loading">authentication in progress ... </div>
	<span>{{ errorMessage}}</span>
</div>

