<div class="container">
<div> {{ errorMessage }} </div>
</div> 
<div class="container" ng-show="isAdmin">
	<h2> List of registered users </h2>
	<div id="loader" ng-show="loading"></div>	
	<div ng-show="loading">loading list ...</div>
    <div class="form-group ">
	    <label for="singleSelect2"> Results per page: </label><br> 
	    <select class="form-control" name="singleSelect2" 
	    ng-options="option.value for option in results.options track by option.value" ng-model="results.selected">
	    </select>
    </div>
	<pagination num-pages="numPages" current-page="1" list="list" resource="user" results-per-page="results.selected.value"></pagination>
    <div ng-repeat="user in list">
      <li>{{ user.username }}</li>
    </div>
</div>
