<div class="container">
<div> {{ errorMessage }} </div>
<div ng-show="loading1"> checking permissions ... </div>
<div id="loader" ng-show="loading1"></div>
</div> 
<div class="container" ng-show="isAdmin">
	<h2> List of registered users </h2>
	<div id="loader" ng-show="loading"></div>	
	<div ng-show="loading">loading list ...</div>
	<table ng-hide="authError" class="table">
		<thead>
			<tr>
				<th> Username </th>
				<th> Access </th>
				<th> Action </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users" user-row user="user">
			</tr>
		</tbody>
	</table>
</div>
