<div class="container">
<div> {{ errorMessage }} </div>
</div> 
<div class="container" ng-show="isAdmin">
	<h2> List of registered users </h2>
	<div id="loader" ng-show="loading"></div>	
	<div ng-show="loading">loading list ...</div>
	<label for="singleSelect2"> Results per page: </label><br> 
	<div class="row">

	<div class="col-xs-3 col-md-2">
	    <div class="form-group ">
		   
		    <select class="form-control" name="singleSelect2" 
		    ng-options="option.value for option in results.options track by option.value" ng-model="results.selected">
		    </select>
	    </div>
    </div>
    </div>
	<pagination num-pages="numPages" current-page="1" list="list" resource="user" results-per-page="results.selected.value"></pagination>
	<table class="table table-condensed">
		<thead>
			<th>Username</th>
			<th>Access</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr ng-repeat="user in list">
				<td>{{ user.username }}</td>
				<td>{{ user.access }}</td>
				<td><button class="btn btn-danger crud" ng-click="delete($index, user.username)">delete</button><button class="btn btn-warning crud">edit</button></td>
			</tr>
		</tbody>
    </table>
</div>
