<div class="container">
	<div> {{ errorMessage }} </div>
</div>
<div class="container">
	<h2> Create new user </h2>
</div>
<div class="container" ng-show="isAdmin">
	<div class="row">
		<div class="col-lg-6">
		<form ng-submit="add()" ng-hide="loading">
			<div class="form-group">
				<input ng-model="username" placeholder="new username" class="form-control">
			</div>
			<div class="form-group">
				<input ng-model="password" placeholder="new password" class="form-control">
			</div>
			<div class="form-group">
				<label class="checkbox-inline"><input type="checkbox" ng-model="access" ng-true-value="'admin'" ng-false-value="'user'">enable admin permissions</label>	
			</div>
			<button type="submit" class="btn btn-primary">save</button>
		</form>
		</div>
		<div id="loader" ng-show="loading"></div>
		<span ng-show="loading"> creating new user ... </span>
		<span ng-hide="loading"> {{ successMessage }} </span>
	</div>
</div>